.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper object {
  width: 100vw;
}

.figur {
  position: absolute;
  z-index: 999;
  bottom: 100px;
  right: 0;
}
