.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper object {
  width: 100vw;
}

.figur {
  position: absolute;
  z-index: 999;
  bottom: 100px;
  right: 0;
}
.baggrund {
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.baggrund span {
  right: -200px !important;
  bottom: -260px !important;
}
.desktop {
  display: none;
}

.eksamenvido {
  top: 460px !important;
}

.socialClub {
  top: 460px !important;
}
@media screen and (min-width: 746px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .desktop {
    width: 100vw;
    min-height: 100vh;
  }
  .figur {
    display: none;
  }
  .eksamenvido {
    top: 602.5px !important;
    left: 457.5px !important;
    right: auto !important;
  }
  .socialClub {
    top: 630px !important;
    left: 385px !important;
    right: auto !important;
  }
  .baggrund {
    right: -300px !important;
    bottom: -300px !important;
  }
}
