.hide {
  display: none;
}
.show {
  display: block;
}
.close,
.play {
  position: absolute;
  cursor: pointer;
}
.play {
  width: 140px;
  left: 50%;
  transform: translateX(-50%);
  top: 400px;
}

.videoWrapper {
  position: absolute;
  min-width: 350px;
  aspect-ratio: 16 / 9;
  height: 200px;
  overflow: hidden;
  transform: translate(-50%, -50%) !important;
  left: 50%;
  top: 50%;
  z-index: 1;
}

@media screen and (min-width: 746px) {
  .play {
    left: auto;
    right: 300px;
    top: 400px;
    cursor: pointer;
  }
  .videoWrapper {
    min-width: 1143px;
    aspect-ratio: 16 / 9;
    height: 600px;
    top: calc(50% - 30px);
  }
}

.close {
  top: 0;
}
